body {
  font-size: 62.5%;
  position: relative;
  box-sizing: border-box;
  background-color: rgba(51, 51, 51, 0.08);
  width: 100vw;
  height: 100vh;
}
body .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  height: 35rem;
  background-image: url(https://media.istockphoto.com/videos/4k-abstract-loop-futuristic-technology-background-with-lines-and-dots-video-id670353238?s=640x640);
  background-position: bottom;
  border-radius: 2rem;
}
body .container .heading {
  position: absolute;
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: 500;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
body .container .heading__text {
  border-right: 0.3rem solid orange;
  border-radius: 5px;
  letter-spacing: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 4s steps(16) infinite, showborder 1s steps(2) infinite;
          animation: typing 4s steps(16) infinite, showborder 1s steps(2) infinite;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom, rgba(103, 147, 192, 0.246), rgba(19, 139, 146, 0.485));
  text-shadow: 0.2rem 0.3rem 0.3px rgb(243, 10, 10);
}
@-webkit-keyframes showborder {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: orange;
  }
}
@keyframes showborder {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: orange;
  }
}
@-webkit-keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
body .container .avatar__img {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 1.2rem;
  left: 5rem;
}
body .container .list {
  position: absolute;
  top: 20%;
  left: 1rem;
  width: 15rem;
  height: 15rem;
}
body .container .list__heading {
  text-align: center;
  font-size: 1.5rem;
  font-family: monospace;
  border: 1px solid rgba(51, 51, 51, 0.333);
  border-radius: 5px;
  background-color: rgba(245, 222, 179, 0.613);
}
body .container .list__heading span {
  color: rgb(243, 10, 10);
}
body .container .list__item {
  list-style: none;
}
body .container .list__item .item {
  color: white;
  width: 10rem;
  border: 1px solid rgba(230, 223, 223, 0.469);
  border-radius: 4px;
  font-size: 1.3rem;
  text-align: center;
  background-color: rgba(2, 82, 81, 0.04);
}
body .container .list__item .item span {
  color: red;
  font-weight: 300;
}
body .container .list__item .item:not(:first-child) {
  margin-top: 1rem;
}
body .container .list__item .item:first-child {
  -webkit-animation: silde 2s cubic-bezier(0.04, 0.23, 0.18, 1.35) 1;
          animation: silde 2s cubic-bezier(0.04, 0.23, 0.18, 1.35) 1;
}
body .container .list__item .item:nth-child(2) {
  -webkit-animation: silde 2s cubic-bezier(0.04, 0.23, 0.18, 1.35) 1 0.2s;
          animation: silde 2s cubic-bezier(0.04, 0.23, 0.18, 1.35) 1 0.2s;
}
body .container .list__item .item:nth-child(3) {
  -webkit-animation: silde 2s cubic-bezier(0.04, 0.23, 0.18, 1.35) 1 0.4s;
          animation: silde 2s cubic-bezier(0.04, 0.23, 0.18, 1.35) 1 0.4s;
}
@-webkit-keyframes silde {
  0% {
    transform: translateX(-40rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes silde {
  0% {
    transform: translateX(-40rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
body .container .content__img {
  position: absolute;
}
body .container .content__img:first-child {
  top: -2.5rem;
  right: 0;
  transform: translateX(-28%);
  width: 40rem;
  height: 20rem;
  -webkit-animation: ficker 2s ease-in-out infinite;
          animation: ficker 2s ease-in-out infinite;
}
body .container .content__img:nth-child(2) {
  overflow: hidden;
  bottom: -28%;
  right: 15%;
  transform: translate(0%, -50%);
  width: 40rem;
  height: 20rem;
  -webkit-animation: slide 2s cubic-bezier(0, 0.27, 0.73, 1.19) 1;
          animation: slide 2s cubic-bezier(0, 0.27, 0.73, 1.19) 1;
}
body .container .content__img:nth-child(3) {
  top: 10%;
  right: 10%;
  width: 10rem;
  height: 5rem;
  -webkit-animation: rotate 1.5s cubic-bezier(0, 0.27, 0.73, 1.19) 1;
          animation: rotate 1.5s cubic-bezier(0, 0.27, 0.73, 1.19) 1;
}
@-webkit-keyframes rotate {
  0% {
    opacity: 0;
    right: -100%;
    transform: rotate(95deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    right: 10%;
    transform: rotate(0deg);
  }
}
@keyframes rotate {
  0% {
    opacity: 0;
    right: -100%;
    transform: rotate(95deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    right: 10%;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes ficker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ficker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    right: -100%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: 15%;
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    right: -100%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: 15%;
  }
}
body .container .gen {
  position: absolute;
  bottom: 3rem;
  left: 4rem;
}
body .container .gen__cirle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-bottom: 5px;
  background-color: red;
  -webkit-animation: gencrile 1s linear infinite alternate;
          animation: gencrile 1s linear infinite alternate;
}
body .container .gen__cirle::after {
  position: absolute;
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  left: 3rem;
  background-color: rgba(19, 139, 146, 0.485);
  -webkit-animation: gencrile1 1s linear infinite alternate;
          animation: gencrile1 1s linear infinite alternate;
}
body .container .gen__cirle:nth-child(2), body .container .gen__cirle:nth-child(2)::after {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
body .container .gen__cirle:nth-child(3), body .container .gen__cirle:nth-child(3)::after {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
body .container .gen__cirle:nth-child(4), body .container .gen__cirle:nth-child(4)::after {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
body .container .gen__cirle:nth-child(5), body .container .gen__cirle:nth-child(5)::after {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
body .container .gen__cirle:nth-child(6), body .container .gen__cirle:nth-child(6)::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
body .container .gen__cirle:nth-child(7), body .container .gen__cirle:nth-child(7)::after {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
body .container .gen__cirle:nth-child(8), body .container .gen__cirle:nth-child(8)::after {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
body .container .gen__cirle:nth-child(9), body .container .gen__cirle:nth-child(9)::after {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
body .container .gen__cirle:nth-child(10), body .container .gen__cirle:nth-child(10)::after {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
@-webkit-keyframes gencrile {
  0% {
    transform: translateX(0);
  }
  50% {
    background-color: purple;
  }
  100% {
    transform: translateX(6rem);
  }
}
@keyframes gencrile {
  0% {
    transform: translateX(0);
  }
  50% {
    background-color: purple;
  }
  100% {
    transform: translateX(6rem);
  }
}
@-webkit-keyframes gencrile1 {
  0% {
    transform: translateX(0);
  }
  50% {
    background-color: purple;
  }
  100% {
    transform: translateX(-12rem);
  }
}
@keyframes gencrile1 {
  0% {
    transform: translateX(0);
  }
  50% {
    background-color: purple;
  }
  100% {
    transform: translateX(-12rem);
  }
}/*# sourceMappingURL=main.css.map */